header {
  background-position: center;
  background-size: cover;
  position: relative;
  color: #139ADF;
  padding: 8%;
  height: 75vh;
  margin-top: 60px;
}
header h1 {
  padding: 10px;
}
header p {
  padding: 6px;
  font-weight: bold;
}

/* ------------------main-------------- */
header {
  background-image: url(../images/home/imge-1.jpg);
}
header h1 {
  font-size: 45px;
  margin-top: 20px;
  margin-left: 30px;
  color: #139ADF;
}
header #request {
  background-color: #139ADF;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 20px;
  padding: 10px;
}
header #request:hover {
  font-size: 21px;
}

/* ----card-header---- */
.card-clinic {
  display: flex;
}

.card-bg {
  width: 25%;
  background-color: #139ADF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: white;
}
.card-bg i {
  font-size: 35px;
  color: #139ADF;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 5px;
}
.card-bg p {
  margin-top: 10px;
  color: white;
}

.card-bg:first-child {
  background-color: rgba(3, 81, 159, 0.58);
}

.card-bg:nth-child(3) {
  background-color: rgba(65, 127, 194, 0.8235294118);
}

/* -----aside----- */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 100px 60px;
}

.title {
  text-align: center;
}
.title h1 {
  font-size: 30px;
}
.title h1,
.title p {
  margin-bottom: 30px;
  color: black;
}

.card-edu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-bg-2 {
  width: 49%;
  background-color: #DFE8F3;
  padding: 20px;
}

.main-point {
  display: flex;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.main-point i {
  background-color: #0385BB;
  border-radius: 20px;
  margin-right: 10px;
  padding: 5px;
  color: white;
}

.aside-one {
  width: 100%;
  height: 358px;
  background-image: url(../images/home/image-2.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.card-clinics {
  flex-direction: column;
  background: rgba(3, 81, 159, 0.58);
  padding: 110px;
  font-size: 25px;
}
.card-clinics i {
  font-size: 50px;
  color: white;
}
.card-clinics p {
  color: white;
}

/* ----aside-two------ */
.aside-two {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 20px;
}

.aside-left {
  width: 50%;
  text-align: center;
  padding: 20px;
}

h2 {
  margin: 30px;
}

table tr,
th,
td {
  padding: 15px;
}

table > h1 {
  font-size: 10px;
}

tr th {
  border-radius: 5px;
  background: #5686E1;
  color: white;
}

tr td {
  color: #5686E1;
}

tr td:first-child {
  border-radius: 5px;
  background-color: rgba(189, 189, 189, 0.743);
}

tr td:nth-child(3) {
  border-radius: 5px;
  background: rgba(65, 127, 194, 0.8235294118);
  color: white;
  font-weight: bold;
}

.aside-right > h1,
.card-1 > img,
.card-1 > h3 {
  margin-bottom: 20px;
}

.aside-right > p {
  margin-bottom: 40px;
}

.card-aside {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.aside-right {
  width: 50%;
  text-align: center;
  padding: 20px;
}

.card-1 > img {
  width: 320px;
}
.card-1 > img p {
  font-size: 20px;
}

p > label {
  color: #5686E1;
  font-style: normal;
  line-height: normal;
}

/* -----location------- */
.aside-three {
  text-align: center;
}
.aside-three h1 {
  padding: 70px;
}

/* ----Med&Time----- */
.aside-four {
  width: 50%;
  align-items: center;
  padding: 50px;
}
.aside-four h3 {
  border-bottom: 1px solid #5686E1;
}

.linking {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}
.linking a {
  text-decoration: none;
  color: #5686E1;
  padding: 10px;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}
ul li {
  padding: 10px;
  list-style: none;
}/*# sourceMappingURL=home.css.map */