@import "./components/group-minxin";
@import "./components/variable";
@import "./components/navbar";
@import "./components/header";
@import "./components/button";
@import "./components/form";

body {
    background-color: rgba(234, 236, 236, 0.81);
}
header {
    background-image: url(/images/service/pic2.webp);
}
nav {
    .nav-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    }
}
.text h1 {
    text-align: center;
    margin-top: 10px;
    margin: 0 3%;
}
.text-information {
    margin: 40px;
    h3 {
        padding: 15px;
        color: $tertiary-color;
    }
    p, li{
        margin: 0 30px;
        
    }
    #note {
        font-weight: bold;
        margin: 10px;
        color: $tertiary-color;
    }
}

