@import "./components/group-minxin";
@import "./components/variable";
@import "./components/header";
@import "./mixins/responsive";

body {
    background-color: rgba(234, 236, 236, 0.81);
}

header {
    background-image: url(/images/service/pic1.jpg);
}

.text h1 {
    text-align: center;
    margin-top: 10px;
    margin: 0 3%;
}
// ....form...
form {
    background-color: $secondary-color;
    width: 70%;
    height: 85vh;
    padding: 30px;
    margin-top: 25px;
    margin: auto;
    border-radius: 10px;

    @include responsive('tablet') {
        width: 80%;
        height: 88vh;
        margin-top: 25px;
        margin-bottom: 17px;
    }

    @include responsive('mobile') {
        width: 80%;
        height: 94vh;
        margin-top: 30px;
    }

    .text h1 {
        margin-bottom: 10px;

        @include responsive('tablet') {
            font-size: x-large;
            margin-top: 20px;
        }

        @include responsive('mobile') {
            font-size: x-large;
            margin-top: 10px;
        }
    }

    p {
        padding-bottom: 10px;
    }

    .input-group,
    .name,
    .text,
    .messeng {
        width: 97.5%;
        margin-bottom: 30px;

        @include responsive('mobile') {
            width: 98%;
        }
    }

    .input-group {
        width: 47.9%;

        @include responsive('tablet') {
            width: 47.4%;
        }

        @include responsive('mobile') {
            width: 98%;
        }
    }

    input[type="text"],
    input[type="email"],
    textarea {
        background-color: rgb(226, 226, 226);
        color: $main-color;
        font-size: 15px;
        width: 100%;
        padding: 10px;
        outline: 0;
        border: none;
    }

    .input-group1 {
        display: flex;
        gap: 10px;

        @include responsive('mobile') {
            flex-direction: column;
            width: 99.7%;
            gap: 2px;
        }
    }

    button {
        background-color: $primary-color;
        color: white;
        font-size: large;
        width: 20%;
        height: 7vh;
        border-radius: 10px;
        border: $primary-color;
        margin-bottom: 20px;

        @include responsive('tablet') {
            margin-top: 5px;
        }

        @include responsive('mobile') {
            width: 30%;
        }
    }

    .button {
        @include item-center;
        align-items: center;
    }
}

.map {
    @include item-center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}