@import "./components/group-minxin";
@import "./components/variable";
@import "./components/header";
header {
    background-image: url(/images/service/pic1.jpg);
}
.text h1 {
    text-align: center;
    margin: 0 3%;
}
form{
    padding: 30px;
    border-radius: 10px;
    width: 70%;
    height: 80vh;
    background-color: $secondary-color;
    margin: auto;
    .text h1{
        margin-bottom: 10px;
    }
    p{
        padding-bottom: 10px;
    }
    .input-group,
    .name , 
    .text, 
    .messeng{
        margin-bottom: 30px;
        width: 97.5%;
    }
    .input-group{
        width: 47.9%;
    }
    input[type="text"],input[type="email"], textarea{
        width: 100%;
        padding: 10px;
        outline: 0;
        border:none;
        background-color: rgb(226, 226, 226);
        color:$main-color;
        // background: transparent;
        font-size: 15px;
    }
    .input-group1{
        display: flex;
        gap: 15px;
    }
    button{
        margin-bottom: 20px;
        width: 20%;
        height: 7vh;
        border-radius: 10px;
        border: $primary-color;
        background-color:$primary-color;
        color: white;
        font-size: large;
    }
    .button{
        @include item-center;
        align-items: center;
    }
}
.map{
    @include item-center;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 10px;
}
@import "./mixins/responsive-contact-us";