@import "./components/group-minxin";
@import "./components/variable";
@import "./components/header";
@import "./components/button";
@import "./components/form";
@import "./mixins/responsive";

body {
    background-color: rgba(234, 236, 236, 0.81);
}

header {
    margin-bottom: 20px;
    background-image: url(https://shorturl.at/gmrOV);
}

.text h1 {
    text-align: center;
    margin-top: 10px;
    margin: 0 3%;
}

.map {
    @include item-center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}