@import "./components/group-minxin";
@import "./components/variable";
@import "./components/header";
@import "./mixins/responsive";

/* ------------------main-------------- */

header{
    background-image: url(../images/home/imge-1.jpg);

    h1 {
        font-size: 45px;
        margin-top: 20px;
        color: $primary-color; 
        @include responsive('mobile') {
            font-size: 30px;
        }
    }
    #request {
        background-color: $primary-color;
        color: $secondary-color;
        text-decoration: none;
        border-radius: 10px;
        margin-top: 40px;
        margin-left: 10px;
        font-size: 20px;
        padding: 10px;
        &:hover {
            font-size: 21px;
        }
    }
    @include responsive('mobile') {
        height: 300px;
    }
   
}
/* ----card-header---- */
.card-clinic {
    display: flex;
   flex-wrap: wrap;
}

.card-bg {
    width: 25%;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 30px;
    color: $secondary-color;
    i {
        font-size: 35px;
        color: $primary-color;
        background-color: $secondary-color;
        border-radius: 40px;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        padding: 5px;
    }
    p {
        margin-top: 10px;
        color: $secondary-color;
    }
    @include responsive('tablet') {
        width: 50%;
        text-align: justify;
        font-size: 20px;
    
    }
    @include responsive('mobile') {
        width: 100%;
        text-align: justify;
    }

}
.card-bg:first-child {
    background-color: $tertiary-color-two ;
}
.card-bg:nth-child(3) {
    background-color: $primary-color-two;
}
.card-bg:nth-child(4) {
    background-color: $primary-color-three;
}

/* -----aside----- */

aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px 60px;
    @include responsive('tablet') {
        padding: 20px;
    
    }
    @include responsive('mobile') {
        padding: 20px;
    }
}

.title {
    text-align: center;
    h1 {
        font-size: 30px;
        @include responsive('tablet') {
            font-size: 25px;
        
        }
    }
    h1,
    p {
    margin-bottom: 30px;
    color: black;
    }
   
    @include responsive('mobile') {
        text-align: justify;
        justify-content: center;
        text-align: center;
    }
}
.card-edu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @include responsive('mobile') {
        gap: 10;
    }
}

.card-bg-2 {
    width: 49%;
    background-color: #DFE8F3;
    padding: 20px;
    @include responsive('laptop') {
        width: 100%;
    }
    @include responsive('tablet') {
        width: 100%;
        text-align: justify;
        font-size: 15px;
    
      }
    @include responsive('mobile') {
        width: 100%;
        text-align: justify;
        font-size: 15px;

    }
}

.main-point {
    display: flex;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    i {
        background-color: #0385BB;
        border-radius: 20px;
        margin-right: 10px;
        font-size: 25px;
        padding: 5px;
        color: white;
        border-radius: 40px;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @include responsive('laptop') {
        font-size: 30px;
    }
    @include responsive('tablet') {
        font-size: 24px;
    
      }
    @include responsive('mobile') {
        font-size: 20px;
    }
}

.aside-one {
    width: 100%;
    height: 358px;
    background-image: url(../images/home/image-2.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    @include responsive('laptop') {
        height: 229px;
    }
    @include responsive('tablet') {
       height: 178px;
    
    }
    @include responsive('mobile') {
       height: 109px;
    }
}

.card-clinics {
    flex-direction: column;
    background: $tertiary-color-two;
    padding: 110px;
    font-size: 25px;
    i {
        font-size: 50px;
        color: $secondary-color;
        @include responsive('laptop') {
            font-size: 40px;
        }
        @include responsive('tablet') {
            font-size: 30px;
        
        }
        @include responsive('mobile') {
            font-size: 25px;
        }
    }
    p {
        color: $secondary-color;
    }
    @include responsive('laptop') {
        padding: 59px;
        font-size: 20px;
    }
    @include responsive('tablet') {
        padding: 48px;
        font-size: 15px;
    
    }
    @include responsive('mobile') {
       padding: 26px;
       font-size: 10px;
    }
}

/* ----aside-two------ */
.aside-two {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    @include responsive('tablet') {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    @include responsive('mobile') {
        flex-direction: column;
        justify-content: center;
    }
}

.aside-left {
    width: 50%;
    text-align: center;
    padding: 20px;
    @include responsive('tablet') {
        width: 100%;
    
    }
    @include responsive('mobile') {
        width: 100%;
    }
}
h2 {
    margin: 30px;
}
table tr,
th,
td {
    padding: 15px;
}

table>h1 {
    font-size: 10px;
}

tr th {
    border-radius: 5px;
    background: $primary-color-three ;
    color: $secondary-color;
}
tr td{
    color: $primary-color-three;
    
}
tr td:first-child {
    border-radius: 5px;
    background-color: $quaternary-color;
}
tr td:nth-child(2){
    text-align: start;
}
tr td:nth-child(3) {
    border-radius: 5px;
    background: $primary-color-two;
    color: $secondary-color;
    font-weight: bold;
}



.aside-right>h1,
.card-1>img,
.card-1>h3 {
    margin-bottom: 20px;
}
.aside-right>p{
    margin-bottom: 40px;
}

.card-aside {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    @include responsive('laptop') {
        flex-direction: column;
    
    }
}
.aside-right {
    width: 50%;
    text-align: center;
    padding: 20px;
    @include responsive('tablet') {
        width: 100%;
    
    }
    @include responsive('mobile') {
        width: 100%;
    }
}
.card-1 > img {
    width: 320px;

    p {
        font-size: 20px;
    }
    @include responsive('laptop') {
        width: 350px;
    }
    @include responsive('tablet') {
        width: 450px;
    
    }
    @include responsive('mobile') {
        width: 350px;
    }
}

p>label {
    color: $primary-color-three;
    font-style: normal;
    line-height: normal;
}

/* -----location------- */
.aside-three{
    text-align: center;
    h1 {
        padding: 70px;
    }
    iframe {
        width: 90%;
        @include responsive('mobile') {
            height: 300px;
        
        }
    }
    @include responsive('mobile') {
        font-size: 12px;
    
    }
}

/* ----Med&Time----- */
.aside-four{
    width: 50%;
    align-items: center;
    padding: 50px;
    h3 {
        border-bottom: 1px solid $primary-color-three;
    }
    
}
.linking{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    a {
        text-decoration: none;
        color: $primary-color-three;
        padding: 10px;
    }
}

ul {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    li {
        padding: 10px;
        list-style: none;
    }
}
