* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    list-style: none;
    border:none;
    text-decoration: none;
    font-family: sans-serif;
}

@import "components/navbar";