@import "variable";

footer {
    display: flex;
    justify-content: space-around;
    color: $secondary-color;
    background-color: $tertiary-color;
    a {
        text-decoration: none;
        color: white;
    }
}
ul {
    list-style: none;
}

.footer {
    width: 18%;
    line-height: 30px;
    padding: 3% 0;

    .icon {
        display: flex;
        gap: 15px;
    }
    i {
        color: $secondary-color;
       
    }

}