@import "variable";
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 45%;
}

.nav-right {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    a {
        padding: 1em; 
        text-decoration: none;
        color: $main-color;
      }
      #appointment {
        padding: 1em; 
        background: $primary-color;
        border: none;
        border-radius: 8px;
        color: $secondary-color;
        cursor: pointer;
      }
    
    
  }
  

  




