@import "variable";
@import "../mixins/responsive";

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $secondary-color;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;

  .logo img {
    width: 45%;

    @include responsive('tablet') {
      width: 50%;
    }

    @include responsive('mobile') {
      width: 40%;
    }
  }

  .nav-right {
    width: 50%;
    display: flex;
    justify-content: space-evenly;

    @include responsive('mobile') {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #fff;
      border-top: 1px solid rgba(0, 0, 0, .1);
      display: none;
    }

    a {
      padding: 1em;
      text-decoration: none;
      color: $main-color-two;
      font-weight: bold;
      @include responsive('mobile') {
       width: 100%;
       left: 0;
      }

      &:hover {
        background: $primary-color;
        border-radius: 5px;
        color: $secondary-color;
      }

    }

    #appointment {
      padding: 1em;
      background: $primary-color;
      border: none;
      border-radius: 8px;
      color: $secondary-color;
      cursor: pointer;

      &:hover {
        color: $primary-color-four;
      }

      @include responsive('tablet') {
        display: none;
      }

      @include responsive('mobile') {
        display: none;
      }
    }
  }

  label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;

    @include responsive('mobile') {
      display: initial;
    }
  }

  #menu-bar {
    display: none;
    @include responsive('mobile') {
      :checked ~ section{
        display: initial;
      }
    }
  }

}