$main-color:black;
$main-color-two:rgba(3, 2, 2, 0.668);
$primary-color:#139ADF;
$primary-color-two: #417fc2d2;
$primary-color-three: #5686E1;
$primary-color-four: #5686E1;
$secondary-color:white;
$tertiary-color:rgb(8, 8, 120);
$tertiary-color-two:rgba(3, 81, 159, 0.58);
$quaternary-color:rgba(189, 189, 189, 0.743);
